<a href="{{ path('grr_authorization_from_user', { 'id': user.id }) }}" role="button"
   class="btn btn-primary"><i class="ti ti-plus"></i> {{ 'label.btn.new'|trans({}) }}</a>

<a href="{{ path('grr_admin_user_show',{'id': user.id}) }}" class="btn btn-primary" role='button'><i
            class="ti ti-arrow-left"></i>
    {{ 'room.back_to_user'|trans({}) }}
</a>

<br/>
<br/>