{% if required == false %}
    <option value="">{{ 'placeholder.entry.room.select' | trans }}</option>
{% endif %}
{% for room in rooms %}
    <option value="{{ room.id }}">{{ room.name }}</option>
{% endfor %}