<a href="{{ path('grr_authorization_from_area', { 'id': room.area.id }) }}" role="button"
   class="btn btn-primary"><i class="ti ti-plus"></i> {{ 'label.btn.new'|trans({}) }}</a>

<a href="{{ path('grr_admin_room_show',{'id': room.id}) }}" class="btn btn-primary" role='button'><i
            class="ti ti-list"></i>
    {{ 'room.back_to_room'|trans({}) }}
</a>

<br/>
<br/>