<a href="{{ grrGenerateRouteMonthView(month.year, month.subMonth.month) }}" title="{{ 'label.btn.previous.month'|trans({}) }}">
    <i class="fas fa-arrow-left"></i>
</a>
<br />
<a href="{{ grrGenerateRouteMonthView(month.subYear.year, month.month) }}" title="{{ 'label.btn.previous.year'|trans({}) }}">
    <i class="fas fa-backward"></i>
</a>
