{% set classDay = "" %}

{% if date.day == day.day %}
    {% set classDay = "table-info" %}
{% endif %}

<td class="{{ classDay }}">
    {% if day.isSameMonth(date) %}
        <a href="{{ grrGenerateRouteDayView(day.day) }}">{{ day.day }}</a>
    {% endif %}
</td>
