<td>
    {% if is_granted('grr.addEntry', room) %}
        <a href="{{ grrGenerateRouteAddEntry(area.id,room.id, day, hourBegin, minuteBegin) }}"
           class="float-right" title="{{ 'label.entry.add'|trans }}"> <i
                    class="ti ti-plus"></i> </a>
    {% endif %}
</td>
