<a href="{{ path('grr_authorization_from_area', { 'id': area.id }) }}" role="button"
   class="btn btn-primary"><i class="fas fa-plus"></i> {{ 'label.btn.new'|trans({}) }}</a>

<a href="{{ path('grr_admin_area_show',{'id': area.id}) }}" class="btn btn-primary" role='button'><i
            class="fas fa-list"></i>
    {{ 'room.back_to_area'|trans({}) }}
</a>

<br/>
<br/>