{% set classDay = "" %}

{% if dateSelected == day and view == 'daily' %}
    {% set classDay = "table-info" %}
{% elseif today == day and view == 'monthly' %}
    {% set classDay = "table-info" %}
{% endif %}

<td class="{{ classDay }}">
    {% if day.isSameMonth(dateSelected) %}
        <a href="{{ grrGenerateRouteView(day, 'daily') }}">{{ day.day }}</a>
    {% endif %}
</td>
