<td class="text-muted">
    <a href="{{ grrGenerateRouteView(week.startDate, 'weekly') }}">
        <span class="text-muted">{{ 'week.initial'|trans({}) }}{{ week.startDate.week }}</span>
    </a>
</td>
