<div class="d-none d-sm-block mt-3"><!-- hide smartphone -->
    <div class="row">
        {% for type in types %}
            <div class="col-lg-2 col-4" style="background-color: {{ type.color }}">
                {{ type.name }}
            </div>
        {% endfor %}
    </div>
</div>
