{% extends '@Grr/base.html.twig' %}

{% block brand %}
    <a class="navbar-brand" href="https://e-square.marche.be" title="Accueil">
        <i class="fas fa-home"></i> Esquare </a>
{% endblock %}

{% block menu_top %}

{% endblock %}

{% block navigation %}

{% endblock %}
