{% extends '@grr_front/layout_front.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ user.name }}</h3>
        </div>
        <div class="card-body">
            {{ include('@grr_front/account/_form.html.twig', {'button_label': 'label.btn.save'}) }}
        </div>
    </div>
    <br/>
    <a href="{{ path('grr_account_show') }}"><i
                class="fas fa-arrow-left"></i> {{ 'label.btn.cancel'|trans({}) }}</a>

{% endblock %}
