<!doctype html>
<html lang="fr" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Réservation - Grr{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/grr/favicon.ico') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"/>
    <link href="{{ asset('bundles/grr/css/print.css') }}" rel="stylesheet" media="print">
    {% block stylesheets %}

    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100 {% block body_class %}{% endblock %}">
{% set action = app.request.attributes.get("_route") %}
{% include '@Grr/_header.html.twig' %}

<main role="main" class="container pt-3">

    <div class="alert alert-danger mt-5">
        Gestion des salles déplacée sur <a href="https://salles-ale.marche.be">https://salles-ale.marche.be</a><br/>
        Données en lecture seule
    </div>
    {% include '@Grr/_flash_messages.html.twig' %}

    {% block notifications %}

    {% endblock %}

    {% block body %}

    {% endblock %}
</main>

{% block footer %}
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted"> </span>
        </div>
    </footer>
{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>
