<div class="table-responsive">
    <table class="table table-bordered table-sm" id="entries-data">
        <thead>
        <tr>
            {% for dayName in days %}
                <th scope="col">{{ dayName|trans }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% set pourcent = (100/(days|length))|round(2) %}
        {% for week in weeks %}
            <tr>
                {% for day in week.days %}
                    {% include '@grr_front/view/monthly/_cell_day_data.html.twig' %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ grrLegendTypeEntry() }}
